<% layout('./layout/page.ejs') %>
<div class="text-center">
	<p>
		<img src="<%= picture %>" class="rounded" alt="" style="width: 300px" />
	</p>
	<h1>Приветствую <% if(user) {%> пользователь <% }else{ %> гость <% } %></h1>
	<p>
		<% if(user) {%> <% }else{ %> Для доступа к другим страницам тебе необходимо
		пройти регистрацию или войти в аккаунт <% } %>
	</p>
</div>
